# Standard VS.NET and ReSharper Foo
obj
bin
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache
* Thumbs.db
*.tmp_proj
.vs
.vscode

#NuGet packages
packages
logs
scripts/tools

# Prevents ignoring .csproj.resharper files (for namespace exemptions)
!*.csproj.ReSharper

# For avoiding build artifacts
Release
Build
Debug
build-output
deploy-output

# Visual Studio Team System stuff
*.vssscc
*.vspscc
*.vsmdi
*.testsettings

# Other useful stuff
*.bak
*.cache
*.log
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors
*.tmp

# Office Temp Files
~$*

# If you have a deploy folder
build
build/*
deploy
deploy/*

# NDepend Project files and output
ndependout
*.ndproj
NDependOut

# Visual Studio Profiling Files
*.vsp


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# Jetbrains rider files
.idea/
FolderProfile.pubxml

